/* 공통 설정 */
@charset "utf-8";
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
}
/* 페이지 프레임 */
.wrap {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* 맨윗줄 페이지 정보 */
.headline {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}
/* 회원가입 정보기입 */
.signUp {
  margin-left: 50px;
  width: 90%;
}
/* h1 포기하지말기 */
h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0 5px;
}
h2 {
  font-size: 1rem;
}

table {
  /* 프레임 너비에 맞추기 */
  width: 100%;
  margin-bottom: 30px;
  /* border-collapse: 테이블에 적용 */
  border-collapse: collapse;
  font-size: 0.75rem;
}

table,
td {
  border: 1px solid rgb(174, 174, 174);
}

td {
  padding: 10px 0px 10px 10px;
}

td.label {
  font-weight: bold;
  background-color: rgba(226, 226, 226, 0.3);
  width: 15%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  background-color: rgba(226, 226, 226, 0.3);
  border: 1px solid rgb(188, 188, 188);
  height: 25px; 
}
/* 클래스 작명 good */
input.w-15 {
  width: 15%;
}
input.w-50 {
  width: 50%;
}
input.w-70 {
  width: 70%;
}
input.w-10 {
  width: 10%;
}
.margin-b-5 {
  margin-bottom: 5px;
}
/* 인풋과 라벨 나란히 정렬 */
.radio-group,
.checkbox-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.radio-group label,
.checkbox-group label {
  margin-right: 10px;
}

.shield{
  display: flex;
  align-items: start;
  gap: 10px;
}
td.shield>img{
  width: 100px;
  border: 1px dotted black;
}
.fa-icon-group {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
.fa-icon-group>i:first-child{
  margin-bottom: 5px;
}
i {
  font-size: 1.3rem;
  text-align: center;
  width: 30px;
  border: 1px solid black;
}

.buttons {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn-primary {
  background-color: rgb(255, 53, 154);
  color: white;
  width: 10%;
  height: 30px;
  border: none;
}

.btn-secondary {
  width: 10%;
  height: 30px;
}
